
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    if(Session["userName"] == null)
    {
        Response.Redirect("~/Login/Index");
    }

}

<h2>Index</h2>
<body>
    Dashboard
    <h3> Username : @Session["userName"].ToString()</h3>
    <a href="@Url.Action("LogOut","Login")">LogOut</a>
    </body>

