@model SystemManage.Models.RoleModel
@{
    ViewBag.Titile = "AddRole";
}
@using (Ajax.BeginForm("AddRole", "Role",
        new AjaxOptions { HttpMethod = FormMethod.Post.ToString(), OnSuccess = "clearvalue" }))
{
<div class="container" id="FormRefresh">
    <div class="form-group">
        <label>RoleID</label>
        @Html.TextBoxFor(m => m.Role_ID, new { @class = "form-control", @placeholder = "กรุณาใส่ข้อมูล" })
    </div>
    <div class="form-group">
        <label>Role</label>
        @Html.TextBoxFor(m => m.Role_Name, new { @class = "form-control", @placeholder = "กรุณาใส่ข้อมูล" })
    </div>
    <div class="form-group">
        <label>Initial</label>
        @Html.TextBoxFor(m => m.Role_Initial, new { @class = "form-control", @placeholde = "กรุณาใส่ข้อมูล" })
    </div>
    <div class="form-group">
        <label>detail</label>
        @Html.TextBoxFor(m => m.Role_Detail, new { @class = "form-control", @placeholde = "กรุณาใส่ข้อมูล" })
    </div>
    <div class="form-group">
        <button type="submit">Submit</button>
    </div>
</div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script>

    function clearvalue() {
        $("#languageID").val("");
        $("#languagesName").val("");
    }
    </script>



}
