<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <title>ManageProject</title><!--Session[ProjectName]-->
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="row">

            <div class="col-sm-2">
                <a class="navbar-brand" href="#"><img src="~/assets/images/icon/event.png" width="42.66" height="42.66px"></a>
                <h6 style="margin-left: -1pt">Project</h6>
            </div>
            <div class="col-sm-2">
                <a class="navbar-brand" href="#"><img src="~/assets/images/icon/email.png" width="42.66" height="42.66"></a>
                <h6>Inbox</h6>
            </div>
            <div class="col-sm-2">
                <a class="navbar-brand" href="#"><img src="~/assets/images/icon/document.png" width="42.66" height="42.66"></a>
                <h6 style="margin-left: -10pt">Document</h6>
            </div>
            <div class="col-sm-2">
                <a class="navbar-brand" href="#"><img src="~/assets/images/icon/report.png" width="42.66" height="42.66"></a>
                <h6>Defect</h6>
            </div>
            <div class="col-sm-2">
                <a class="navbar-brand" href="#"><img src="~/assets/images/icon/group.png" width="42.66" height="42.66"></a>
                <h6>Team</h6>
            </div>
        </div>
    </nav>
    @RenderBody()

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
</body>
</html>
