
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Success2</title>
</head>
<body>
    <embed src="~/Upload/@ViewBag.fileName" width=100% height="1000px" />
</body>
</html>
