@model SystemManage.Models.TypeOfCotractModel
@{
    ViewBag.Title = "AddContact";
}
@using (Ajax.BeginForm("AddContact", "Contact",
    new AjaxOptions { HttpMethod = FormMethod.Post.ToString(), OnSuccess = "clearvalue" }))
{
    <div class="container" id="FormRefresh">
        <div class="form-group">
            <label>Contact ID </label>
            @Html.TextBoxFor(m => m.Contrat_ID, new { @class = "form control", @placeHolder = "กรุณาใส่ข้อมูล" })
        </div>
        <div class="form-group">
            <label>Type of contact</label>
            @Html.TextBoxFor(m => m.Contrat_Name, new { @class = "form control", @placeHolder = "กรุณาใส่ข้อมูล" })
        </div>
        <div class="form-group">
            <label>Detail</label>
            @Html.TextBoxFor(m => m.Contrat_Detail, new { @class = "form control", @placeHolder = "กรุณาใส่ข้อมูล" })
        </div>
        <div class="form-group">
            <button type="submit">Submit</button>
        </div>
    </div>
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<script>

    function clearvalue() {
        $("#Contrat_ID").val("");
        $("#Contrat_Name").val("");
        $("#Contrat_Detail").val("");
    }
</script>
