
<html>
<head>

    <link rel="stylesheet" href="~/assets/docs/css/bootstrap-3.3.2.min.css" type="text/css">
    <link rel="stylesheet" href="~/assets/docs/css/bootstrap-example.min.css" type="text/css">
    <link rel="stylesheet" href="~/assets/docs/css/prettify.min.css" type="text/css">

    <script type="text/javascript" src="~/assets/docs/js/jquery-2.1.3.min.js"></script>
    <script type="text/javascript" src="~/assets/docs/js/bootstrap-3.3.2.min.js"></script>
    <script type="text/javascript" src="~/assets/docs/js/prettify.min.js"></script>

    <link rel="stylesheet" href="~/assets/dist/css/bootstrap-multiselect.css" type="text/css">
    <script type="text/javascript" src="~/assets/dist/js/bootstrap-multiselect.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body data-spy="scroll" data-target="#affix">
    <div class="example">
        <span class="multiselect-native-select">
            <select id="example-getting-started" multiple="multiple">
                <option value="cheese">Cheese</option>
                <option value="tomatoes">Tomatoes</option>
                <option value="Mozzarella">Mozzarella</option>
                <option value="Mushrooms">Mushrooms</option>
                <option value="Pepperoni">Pepperoni</option>
                <option value="Onions">Onions</option>
            </select>
        </span>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#example-getting-started').multiselect();
        });
    </script>
</body>
</html>

